.mgm {
  display: none;
  position: absolute;
  top: 250px; /* Adjust top position as needed */
  background-color: #fff9d7;
  border: solid #e2c822;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 5px; /* Optional: Rounded corners */
}
.mgm .txt {
  font-family: Arial, sans-serif;
  display: inline-block; /* Display text inline-block to align with image */
  vertical-align: middle; /* Vertical alignment with image */
  margin-left: 10px; /* Adjust margin between image and text */
  font-size: 11px;
}
.mgm img {
  display: inline-block; /* Display image inline-block */
  width: 35px; /* Adjust image size as needed */
  height: 35px;
  border-radius: 50%; /* Optional: Rounded image */
  vertical-align: middle; /* Vertical alignment with text */
}
.stopwatch {
  width: 100px;
  position: sticky; /* Change from absolute to sticky */
  top: 40px; /* Stick to the top of the header */
  margin: 20px auto; /* Center horizontally with margin */
  border-radius: 50%;
  background: radial-gradient(circle, #ccc 70%, #fff);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.clock-face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.time {
  font-size: 14px;
}
.icon {
  width: 40px; /* Set the width of the image */
  height: 40px; /* Set the height of the image */
  margin: 0;
}
.hide-button {
  position: absolute;
  top: 20px;
  right: 140px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.hide-button:hover {
  background-color: #0056b3;
}
.show-mgm {
  margin-top: 20px; /* Adjust the margin value as needed */
}
.imag {
  top: 50px;
}
